#page {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 386px;
  border: 1px solid gray;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  right: 50vh;
}

#content {
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
  width: 100%;
  padding: 10px;
  height: 443px;
  background-color: violet;
}
.todolist {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 360px;
}
.todolist li {
  width: 100%;
  box-sizing: border-box;
}

#buttonCommon {
  position: absolute;
  width: 360px;
  height: 55px;
  left: 50%;
  right: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 0;
}

#fieldset {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: 0;
  row-gap: 10px;
  height: 100%;
}
#input {
  box-sizing: border-box;
  width: 360px;
  height: 52px;
  border-radius: 10px;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
}

#textarea {
  padding: 15px;
  box-sizing: border-box;
  width: 360px;
  height: 300px;
  border: 0;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  resize: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #555555;
  font-size: 18px;
  font-weight: 900;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #555555;
  font-size: 18px;
  font-weight: 900;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #555555;
  font-size: 18px;
  font-weight: 900;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #555555;
  font-size: 18px;
  font-weight: 900;
}

#input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: center;
}
#input::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
#input:-ms-input-placeholder {
  /* IE 10+ */
  text-align: center;
}
#input:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #555;
  appearance: none;
  cursor: pointer;
  flex-shrink: 0;

  /* transition: background 0.2s; */
}
input[type="checkbox"]:checked {
  /* background: #32e732; */

  background-image: url(../img/RedArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}
li {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
  font-size: 100px;
  font-weight: 300;
  font-size: 18px;
  width: 360px;
  height: 52px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 10px;
  margin-bottom: 15px;
  font-style: normal;
  overflow: hidden;
  text-wrap: nowrap;
}

a {
  text-decoration: none;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
}

/* -----------detail----------- */
#detail * {
  margin: 0;
  box-sizing: border-box;
}

#detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

#detailHeader {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

#detailHeaderTitle {
  font-size: 26px;
  font-weight: bolder;
}

#detailHeaderCreatedAt {
  font-size: 10px;
}

#detailMain {
  background-color: white;
  position: relative;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}

#detailMainContent {
  overflow: scroll;
}

#detailMainUpdatedAt {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#detailFooter {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

#detailFooter > button {
  /* width: 164px; */
  height: 50px;
  flex: 1;
  border-radius: 7px;
  border: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

#detailFooterDelete {
  color: #9c0000;
}

#test {
  width: 100px;
  height: 100px;
  background-color: red;
}

/* -----------update----------- */

#updateHeader {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}

#updateHeader > input {
  border: 0;
  text-align: center;
  font-size: 26px;
  font-weight: inherit;
}

#updateHeader > input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid #555555;
}

#detail > textarea {
  width: 100%;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

#detail > textarea:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.inverted {
  color: #555555;
}
